.slide {
  position: relative;
  &__images {
    height: 40vh;
  }
  img.slider {
    display: none;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }
  img.active {
    display: block;
    animation: fade 300ms;
  }
  &__next,
  &__previous {
    position: absolute;
    background-color: $White;
    top: 40%;
    padding: 15px 17px;
    border-radius: 50%;
  }
  &__next {
    right: 3%;
  }
  &__previous {
    left: 3%;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
